body {
    font-family: Cousine;
}

.header {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    top: 0;
}

.brand {
    text-align: center;
    margin-top: 20px
}

.container {
    padding: 5px 20px;
}


}
.container {
    padding: 15px;
    display: block;
    text-align: center;
}
.photo img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 70%
}
.video-block {
    max-width: 800px;
}
.social {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social li {
    display: inline-block;
    vertical-align: middle;
}
.social li a {
    display: block;
    font-size: .8em;
    margin: 0 5px;
    text-decoration: none;
    color: black
}
.footer {
    text-align: center;
    padding: 20px 20px;
}
.yellow {
    background: yellow;
    border-style: none;
    border-radius: 2px;
    height: 32px
}
.yellow:hover {
    background: black;
    border-style: none;
    color: yellow;
}
.black {
    background: black;
    border-style: none;
    border-radius: 2px;
    height: 32px;
    color: yellow
}
.black:hover {
    background: yellow;
    border-style: none;
    color: black;
}
.modal-header {
    border-bottom: none;
    text-align: center;
}
.modal-body {
    padding: 0px;
    height: 180px;
}
.modal-footer {
    border-top: none;
}
.active {
    font-style: italic;
    text-decoration: underline;
    font-size: 180%;
}
.mobilenav li a:hover {
    color: gray;
}
.main {
    max-width: 870px;
    padding-top: 5px;
}

/* menu */
.nav-menu {
    list-style: none;
    text-align: center;
}
.nav-menu ul {
    line-height: 20px;
}
.container-menu {
    text-align: center;
    display: none;
    background: yellow;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.container-menu.toggled {
    display: block;
}
.container-menu ul {
    margin-top: 5vh;
}
.container-menu li {
    margin: 10px;
}
.container-menu a {
    color: black
}

/* Hamburger Menu Icon */
.hamburger:focus {
    outline: none;
}
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 999999;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 29px;
    height: 3px;
    background-color: #000;
    /*border-radius: 4px;*/
    
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -7px;
}
.hamburger-inner::after {
    bottom: -7px;
}

/*
 * Hamburger animations
 */
.hamburger--vortex .hamburger-inner {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}
.hamburger--vortex.is-active .hamburger-inner {
    -webkit-transform: rotate(765deg);
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.container-fluid {
    padding: 0;
}
.transparent {
    background-color: transparent;
}
.top {
    margin-top: 10px;
}
.collapse {
    z-index: -1000;
}

/* Subscribe Modal */
#myModal {
    z-index: 1000000
}
.modal-content {
    border-style: none;
    border-radius: 0;
    outline: none;
    box-shadow: none
}
.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #222;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}
.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #000;
    content: "";
}
.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.booking {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    color: white;
}
.booking a {
    color: yellow
}
.top {
    margin: 0 auto;
    padding-top: 30px;
}
#submit-success {
    margin-top: 20px;
}
.shop {
    color: yellow;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 2px
}
.header {
    margin-bottom: 10px
}
.pad-top {
    margin-top: 10px;
}
.size {
    max-width: 60px;
}
.shop-footer {
    padding-top: 20px
}
.snipcart-overwrite .snip-layout {
    font-family: Cousine, sans-serif;
    z-index: 999999;
}
.snipcart-overwrite #snipcart-footer {
    display: none;
}
.snipcart-overwrite #snipcart-footer #snipcart-powered {
    display: none;
}
.snipcart-overwrite .snip-layout .snip-btn--highlight {
    background: yellow;
    color: black
}
.basket {
    padding-right: 10px;
    margin-top: 20px;
    color: black;
    font-size: 20px !important;
}
.basket:hover,
.basket:focus {
    color: yellow
}
.products {
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.product-card {
    flex-direction: column;
    margin: 10px;
    padding: 2%;
    flex: 1 16%;
    max-width: 400px;
    background-color: #fff;
}
.product-image {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.product-image img {
    width: 100%;
}
.product-info {
    margin-top: auto;
    text-align: center;
}
@media ( max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}
.product-info {
    float: left
}
.product-info span {
    display: inline
}
.price {
    background: black;
    color: yellow;
    font-size: 15px;
    font-weight: 500;
    line-height: 48px;
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin: 5px;
    top: 0;
    right: 0
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image:hover .overlay {
    opacity: 1;
    visibility: visible;
}
.product-image:focus .overlay {
    opacity: 1;
    visibility: visible;
}
.product-card:focus .overlay {
    opacity: 1;
    visibility: visible;
}
.product-image.hover_effect {
    opacity: 1;
    visibility: visible;
}
.item {
    color: white;
}
.actions {
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 1px rgba(0, 0, 0, 0.05);
    padding: 10px
}